<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ymd7.colima</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/colima</string>
		<string>start</string>
		<string>--cpu</string>
		<string>4</string>
		<string>--memory</string>
		<string>8</string>
		<string>--disk</string>
		<string>100</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardOutPath</key>
	<string>/tmp/com.ymd7.colima.out.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/com.ymd7.colima.err.log</string>
</dict>
</plist>
