<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ymd7.colima</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/colima</string>
		<string>start</string>
		<string>--profile</string>
		<string>default</string>
	</array>

	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/kyo</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>XDG_CONFIG_HOME</key>
		<string>/Users/kyo/.config</string>
	</dict>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardOutPath</key>
	<string>/tmp/com.ymd7.colima.out.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/com.ymd7.colima.err.log</string>
</dict>
</plist>
